@using Gronea.Timereg.Client.Pages;

@inject RouteService Routes
@inject IStringLocalizer<NavMenu> Localizer

<nav class="bg-gray-800">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
            <div class="flex items-center">
                <div class="flex-shrink-0">
                    <NavLink href="@Routes.GetHomeRoute()" Match="NavLinkMatch.All">
                        <img class="h-8 w-8 inline-block"
                             height="32"
                             width="32"
                             src="images/clock.svg"
                             alt="@Localizer["Timereg"]" />
                        <span class="text-green-500 text-2xl font-semibold inline-block align-middle p-4">@Localizer["Timereg"]</span>
                    </NavLink>
                </div>
            </div>
            <div class="flex items-center">
                <div class="flex-shrink-0">
                    <a href="https://github.com/Gronex/timereg/blob/master/CHANGELOG.md" target="_blank" rel="noreferrer">
                        <span class="text-lg align-middle">@Localizer["Version {0}", Version]</span>
                    </a>
                    <a href="https://github.com/Gronex/timereg/issues" target="_blank" rel="noreferrer">
                        <span aria-label="@Localizer["Github issues"]" class="pl-2 material-icons text-4xl inline-block align-middle">bug_report</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

@code {
    public Lazy<Version> Version { get; } = new Lazy<Version>(GetVersion());


    private static Version GetVersion()
    {
        var assembly = System.Reflection.Assembly.GetExecutingAssembly();
        return assembly.GetName().Version ?? new System.Version(0, 0, 0, 0);
    }
}